% CBU realtime script to set paths
% You should move this to your /home/[username]/matlab folder, or somewhere
% else in your matlab path, and then update the paths to match your realtime 
% installation
% Rhodri Cusack Mar 2011
%
global cburealtime_defaults

% Where is SPM 8?
spmpth='/home/stefanh/realtime/spm8';

% Where should the processed 
cburealtime_defaults.path_data='/home/stefanh/realtime/scratch';
cburealtime_defaults.path_code='/home/stefanh/realtime/svn/trunk/devel';
cburealtime_defaults.path_sambashare='/local/sambashare';

% Names of your protocols as seen on the Siemens console. Use regular
% expressions for wildcards
cburealtime_defaults.protocol.localiser.protocolname='^CBU_Localiser.*';
cburealtime_defaults.protocol.localiser.imgtype='ORIGINAL\PRIMARY\M\ND';

cburealtime_defaults.protocol.anatomical.protocolname='^CBU_MPRAGE.*';
cburealtime_defaults.protocol.anatomical.imgtype='ORIGINAL\PRIMARY\M\ND\NORM';

cburealtime_defaults.protocol.functional.protocolname='.*ep2d.*';
%cburealtime_defaults.protocol.functional.imgtype='ORIGINAL\PRIMARY\M\ND\MOSAIC'
cburealtime_defaults.protocol.functional.imgtype='ORIGINAL\PRIMARY\FMRI\NONE\ND\MOSAIC';

% Set paths
addpath(fullfile(cburealtime_defaults.path,'cburealtime','matlab_src'));
addpath(spmpth);

spm('fmri');
